@font-face {
    font-family: "quenda";
    src: url('quenda/Quenda-Medium.otf');
}

body {
    margin: 0;
    width: 100%;
    font-family: quenda, Arial, sans-serif;
}

header {
    height: 250px;
    background: url('images/banner.png') center no-repeat;
}

footer {
    height: 400px;
    background: url('images/colors.png') center no-repeat;
    position: relative;
    bottom: 100px;
}

canvas {
    border: solid 2px black;
    background: #fff;
    display: block;
    margin: 20px auto;
}

div {
    text-align: center;
}

p#info {
    text-align: center;
    position: relative;
    bottom: 290px;
}

p#lost {
    text-align: center;
    position: relative;
    bottom: 370px;
    color: firebrick;
    visibility: hidden;
}

.btn {
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    color: #fff;
    background-color: #1D6AAD;
    border-color: #195d97;
    display: inline-block;
    font-weight: normal;
    text-align: center;
    touch-action: manipulation;
    cursor: pointer;
    border-radius: 3px;
}

.btn:hover {
    background-color: #195d97;
}